$font-primary-sans: 'Roboto', Arial, sans-serif;
$font-primary-sans-condensed: 'Roboto Condensed', Arial, sans-serif;
$font-secondary-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $font-block-text: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$img_dir: '../img/';
