@mixin inline_list_with_links() {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style-type: none;
    position: relative;

    a {
      margin: 0;
      padding: 0;
      display: inline-block;
    }

    &> ul {
      display: none;
    }
  }
}

@mixin a_link($link_color, $hover_color, $link_decoration, $hover_decoration) {
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $link_color;
    text-decoration: $link_decoration;
  }

  &:hover {
    color: $hover_color;
    text-decoration: $hover_decoration;
  }
}

@mixin dl_inline() {
  dt, dd {
    float: left;
  }

  dt {
    clear:both;
    font-weight: 700;
    text-transform: uppercase;
  }

  dd {
    margin-left: 5px;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin size_2x_background_image($url) {
  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background-image: url($url);
    background-size: contain;
  }
}
