@import "_global.scss";
@import "_mobile.scss";
@import "_mixins.scss";

/* Better looking embed fonts */
html {
  -webkit-font-smoothing: antialiased;

  .entry,
  .entry p {
    -webkit-font-smoothing: initial;
  }
}

/* "CALL US" tab */
.call-us {
  background: transparent url($img_dir + 'nass-tab-temp-bg.png') 0% 0%;
  display: block;
  width: 188px;
  height: 27px;
  padding-top: 0;
  overflow: hidden;
  top:0;
  right:100px;
  position: absolute;
  font-family: $font-primary-sans-condensed;
  font-size: 14px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2px 0 0 31px;
  white-space: nowrap;

  @include a_link(#b9d9ff, #DBECFF, none, none);

  @include media($mobile) {
    position: relative;
    left: inherit;
    right: inherit;
    top: 0;
    margin-left: auto;
    margin-right: auto;
  }

}

.featured-image {
  background-position: 0 35%;
}

/* "home" page-specific styles */
body.home.page {
  .featured-image {
    height: 400px;
    background-position-y: -70px;
    position: relative;

    @include media($mobile) {
      background-position-y: 0;
    }
  }
}

body.page-careers {
  .featured-image {
    // background-position: 0 64%;
    // height: 400px;
    background-position: 0 80%;

    @include media($mobile) {
      background-position-x: 50%;
      height: 240px;
    }
  }
}

body.page-about {
  .featured-image {
    background-position: 0 0;

    @include media($mobile) {
      background-position: 0 0;
    }
  }
}
