@import "../vendor/bourbon/bourbon";
@import "../vendor/neat/neat";
@import "_global.scss";
@import "_shame.scss";
@import "_mobile.scss";
@import "_mixins.scss";

html {
  background: #303030 url($img_dir + 'nass-grey-image-bg.jpg') 50% 0% no-repeat;
  background-size: cover;
  font-family: $font-primary-sans;
  font-size: 14px;
}

body {
  background: transparent;
  a {
    @include a_link(#255E9E, #255E9E, underline, none);
  }
}

h2 {
  font-family: $font-primary-sans-condensed;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 36px;
}

h3 {
  font-family: $font-secondary-sans;
  font-weight: bold;
  font-size: 20px;
}

// h4 {
//   font-size: 17px;
// }

.wrapper {
  @include outer-container(1200px);
  background: #fff;
  // width: 80%;
  margin: 20px auto;
}

.header {
  @include row();

  background-color: #255e9e;
  color: #fff;
  border-top: solid #3a76b9 5px;
  padding-top: 40px;
  padding-bottom: 30px;
  position: relative;

  @include media($mobile) {
    padding-top: 0;
    padding-bottom: 10px;
  }

  h1 {
    @include span-columns(3);
    @include shift(1);

    margin-top: 0;
    margin-bottom:0;

    @include media($mobile) {
      @include span-columns(12);
      float: none;
      width: 234px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    a {
      @include size_2x_background_image($img_dir + 'nass-logo@2x.png');

      background: transparent url($img_dir + 'nass-logo.png') 0% 0%;
      display: block;
      width: 234px;
      height: 0;
      padding-top: 63px;
      overflow: hidden;

    }

  }
  nav {
    @include span-columns(6);
    @include shift(1);
    position: relative;
    top: 50px;
    text-align: right;

    @include media($mobile) {
      @include span-columns(12);
      text-align: center;
      margin-left: 0;
      margin-right: 0;
      top: auto;
    }

    .menu-button {
      display: none;
      position: relative;

      @include media($mobile) {
        @include a_link(#fff, #fff, none, none);
        display: block;
        background: #3A76B9;
        border-radius: 3px;
        width: 70%;
        max-width: 300px;
        padding: 10px 20px;
        font-weight: bold;
        font-size: 1.2em;
        font-family: $font-primary-sans-condensed;
        text-transform: uppercase;
        margin: 0 auto;

        &:hover {
          background: #4D87C7;
        }
      }

      &.open {
        background: #4D87C7;
      }

    }

    // .dropdown-button {
    //   position: absolute;
    //   border: solid #fff 1px;
    //   color: #fff;
    //   border-radius: 50%;
    //   width: 35px;
    //   height: 35px;
    //   top: 12px;
    //   right: 10px;
    //   background: url($img_dir + 'chevron-right@2x.png') no-repeat 50% 50%;
    //   background-size: contain;
    // }
    //
    // .menu-button:hover {
    //   .dropdown-button {
    //   background-color: rgba(225, 225, 225, 0.25);
    //  }
    // }

    .show ul {
      width: 70%;
      margin: 0 auto;
      display: block;
    }

    ul {
      @include inline_list_with_links;

      display: block;

      @include media($mobile) {
        display: none;

        &.show {
          width: 70%;
          margin: 0 auto;
          display: block;
        }
      }

      li {
        margin-left: 0;
        padding: 5px;

        @include media($mobile) {

          padding:0;
          width: 100%;
          max-width: 300px;
          padding-top: 6px;

          a {
            @include a_link(#fff, #fff, none, none);

            width: 100%;
            display: block;
            background: #3A76B9;
            border-radius: 3px;
            padding: 10px 20px;
            font-weight: bold;
            font-size: 1.2em;
            font-family: $font-primary-sans-condensed;
            text-transform: uppercase;
            margin: 0 auto;

            &:hover {
              background: #4D87C7;
            }
          }
        }

        &.menu-item-has-children:after {
          content: "\2304";
          margin-left: 2px;
          line-height: 0;
          font-weight: bold;
          font-size: 1.5em;
        }

        &:hover > ul {
          text-align: left;
          display: block;
          position: absolute;
          top: 30px;
          left: -5px;
          padding: 0px 35px 15px 15px;
          background: #255E9E;

          li {
            margin-left: 0;
            padding: 8px 0 0 0;
            text-align: left;
          }
        }

      }
      a {
        @include a_link(#fff, #fff, none, underline);
        font-weight: 400;
      }
    }
  }
}

.footer {
  @include row();

  .footer-items {
    @include row();

    font-size: 13px;
    color: rgba(0, 0, 0, 0.60);
    margin-bottom: 30px;

    h3 {
      font-family: $font-primary-sans-condensed;
      font-weight: 700;
      color: #4f89ca;
      font-size: 15px;
      text-transform: uppercase;
    }

    dl {
      @include dl_inline;
    }

    address {
      font-style: normal;
      b {
        font-weight: 700;
      }
    }

    .blurb {
      @include span-columns(3);
      @include shift(1);

      border-top: 1px solid #4f89ca;
      padding-top:20px;

      a {
        @include size_2x_background_image($img_dir + 'nass-logo-smaller@2x.png');
        background: transparent url($img_dir + 'nass-logo-smaller.png') 0% 0%;
        background-repeat: no-repeat;
        display: block;
        width: 165px;
        height: 0;
        padding-top: 53px;
        margin-top: 10px;
        overflow: hidden;
      }
    }
    .contact-location {
      @include span-columns(3);
      border-top: 1px solid #4f89ca;
      padding-top:20px;
    }
    .contact-form-container {
      @include span-columns(4);
      border-top: 1px solid #4f89ca;
      padding-top:20px;
    }

    .blurb,
    .contact-location,
    .contact-form-container {
      @include media($mobile) {
        @include span-columns(10);
        @include shift(1);

        padding-top: 5px;
        margin-top: 20px;
      }
    }

  }

  .footer-stripe {
    @include row();

    background: #4f89ca;
    color: #fff;
    margin-bottom: 20px;
    padding-top: 18px;
    min-height: 70px;

    .copyright {
      @include span-columns(5);
      @include shift(1);

      font-family: $font-primary-sans-condensed;
    }
    nav {
      @include span-columns(5);
      text-align: right;

      ul {
        @include inline_list_with_links;

        li {
          margin-left: 8px;

          @include media($mobile) {
            margin-left: 0;
            width: 100%;
            text-align: center;
            padding: 10px 0;
          }

        }
        a {
          @include a_link(#fff, #fff, none, underline);
          font-family: $font-primary-sans-condensed;
          text-transform: uppercase;
        }
      }
    }

    @include media($mobile) {
      .copyright {
        @include span-columns(12);
        @include shift(0);
        text-align: center;
      }
      nav {
        @include span-columns(12);
        @include shift(0);
        text-align: center;
      }
    }
  }
}

aside.heading-carousel {
  @include row()

  background: #4f89ca;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;

  h2 {
    @include span-columns(10);
    @include shift(1);

    font-family: $font-primary-sans-condensed;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;

    @include media($mobile) {
      font-size: 30px;
    }

  }
  p {
    @include span-columns(10);
    @include shift(1);

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
  }
}

.article-wrapper {
  @include row();

  margin-bottom: 40px;
}

.page article,
.single-careers article,
.single-pressreleases article,
.error404 article {
  min-height: 300px;

	a.cta-btn,
	a.cta-btn:link {

		text-transform: uppercase;
		font-family: $font-primary-sans-condensed;
		font-weight: 500;
		font-size: 18px;
		background: #74a5dc;
		border: 0;
		color: #fff;
		display: inline-block;
		text-decoration: none;
		padding: 10px 15px;
	}
	a.cta-btn:hover {
		background: #5e8dc1;
	}


  .heading-wrapper {
    background: #4f89ca url($img_dir + 'nass-heading-blue-bg.png') no-repeat;
    color: #fff;
    padding: 10px 0;
    margin-top: 0;
    height: 70px;
  }

  h2 {
    @include span-columns(7);
    @include shift(1);

    margin-top: 0;
    margin-bottom: 0;
    // border-bottom: 1px solid #4f89ca;
    // padding-bottom: 30px;
    margin-bottom: 25px;
  }

	.posted-date {
		margin-top: 17px;
		display: block;
	}

  .entry {
    @include span-columns(8);
    @include shift(2);

    img {
      max-width: 100%;
    }
  }

  @include media($mobile) {
    @include span-columns(12);
    @include shift(0);
    h2 {
      width: 90%;
      padding-left: 1%;
      padding-right: 10%;
      border-bottom: 0;
      padding-bottom: 0;
    }

    .entry {
      @include span-columns(10);
      @include shift(1);
      width: 90%;
      padding-left: 1%;
      padding-right: 10%;
    }
  }
}

.single-careers article,
.page.page-template-page-wjobs article {

  .entry {
    @include span-columns(6);
    @include shift(2);
  }

  .sidebar {
    @include span-columns(3);

    background: #eee;
    padding: 20px;
    margin-top: 17px;

    // &:first-child {
    //   background: #F7FBFF;
    // }

    h1 {
      margin-top: 0;
      color: #333;
      font-size: 13px;
      font-weight: bold;
      color: #585858;
    }

    h2, .caps {
      font-size: 12px;
      text-transform: uppercase;
      color: #888888;
      padding: 0;
      margin: 0;
      border: 0;
      display: block;
      width: 100%;
      margin-bottom: 10px;
      font-weight: bold;
    }

    ul {
      padding: 0;
      clear: both;

      li {
        list-style-type: none;
        padding: 0;
        line-height: 25px;
      }
    }

    .show-all {
      font-size: 12px;
      float: right;
    }

    p {
      font-size: 12px;
    }
    &.nobg {
      background: transparent;
      padding-top: 0;
      color: #000;
    }
  }

  @include media($mobile) {
    @include span-columns(12);
    @include shift(0);
    h2 {
      width: 90%;
      padding-left: 1%;
      padding-right: 10%;
      border-bottom: 0;
      padding-bottom: 0;
    }

    .entry {
      @include span-columns(10);
      @include shift(1);
      width: 90%;
      padding-left: 1%;
      padding-right: 10%;
    }

    .sidebar {
      @include span-columns(10);
      @include shift(1);
      background: #eee;
      padding: 5%;
      margin-bottom: 20px;
      margin-top: inherit;
    }
  }
}

.home article {
  h2 {
    border-bottom: 1px solid #255e9e;
    width: 80%;
    background: transparent;
    color: #000;
  }
}

.featured-image {
  max-width: 100%;
  height: 240px;
  background-size: cover;
  box-shadow: inset 0 20px 20px -18px rgba(0, 0, 0, 0.75),
              inset 0 -21px 18px -20px rgba(0, 0, 0, 0.25)

}

.home .featured-image {
  height: 400px;
  box-shadow: inset 0 20px 20px -18px rgba(0, 0, 0, 0.75),
              inset 0 -24px 29px -20px rgba(0, 0, 0, 0.75);
}

.services {
  text-align: center;
  display: table;
  border-spacing: 1em;
  margin:0 auto;
  width: 85%;

  @include media($mobile) {
    width: 90%;
  }

  ul {
    padding: 0;
    border-top: solid 1px #ccc;
    padding-top: 10px;
    width: 90%;
    margin: 13px auto;
  }
  li {
    list-style-type: none;
    text-align: center;
    font-family: $font-primary-sans;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 2;
  }

  h3 {
    font-family: $font-primary-sans-condensed;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background: #4f4f4f url($img_dir + 'nass-services-bg1.jpg') no-repeat 50% 50%;
    background-size: 110% 110%;
    color: white;
    text-align: left;
    padding: 150px 0 10px 15px;
    vertical-align: bottom;
    font-size: 30px;
    transition: background-size .4s;

    &.second {
      background-image: url($img_dir + 'nass-services-bg2.jpg');
    }
    &.third {
      background-image: url($img_dir + 'nass-services-bg3.jpg');
    }
  }

  .service {
    width: 30%;
    background: #f1f1f1;
    display: table-cell;
    vertical-align: top;
    position: relative;

    @include media($mobile) {
      width: 100%;
      display: block;
      background: transparent;

      ul {
        width: 100%;
        padding-top: 0;
        margin-top: 10px;
        margin-bottom: 15px;
        border: 0;
        display: none;

        &.show {
          display: block;
        }
      }

      h3 {
        padding-top: 10px;
        background-size: cover;
        margin-top: 10px;
        cursor: pointer;

        .dropdown-button {
          position: absolute;
          border: solid #fff 1px;
          color: #fff;
          border-radius: 50%;
          width: 35px;
          height: 35px;
          top: 12px;
          right: 10px;
          background: url($img_dir + 'chevron-right@2x.png') no-repeat 50% 50%;
          background-size: contain;
        }

        &:hover {
          .dropdown-button {
          background-color: rgba(225, 225, 225, 0.25);
         }
        }

      }
      h3.open .dropdown-button {
        border-color: #6D97C7;
        background-image: url($img_dir + 'chevron-down@2x.png');
      }
      h3.open:hover .dropdown-button {
        background-color: rgba(109, 151, 199, 0.25);
      }



    }
  }

  .service:hover {
    h3 {
      background-size: 115% 115%;
    }
    @include media($mobile) {
      h3  {
        background-size: cover;
      }
    }
  }

  // .service.clickable {
  //   top: 0;
  //   box-shadow: none;
  //   transition: top .4s, box-shadow .4s;
  //
  //   &:hover {
  //     top: -3px;
  //     box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  //   }
  // }
}

.contact-form {
  width: 100%;

  label {
    color: #8d8d8d;
    display: block;
    font-weight: 500;
    width: 20%;
    float: left;
    margin: 0;
    margin-bottom: 16px;
    padding-left: 10px;
    padding-bottom: 18px;
  }
  input,
  textarea {
    display: block;
    float: right;
    width: 77%;
    font-family: $font-primary-sans;
    font-size: 14px;
    margin-bottom: 14px;
    background: #F1F1F1;
    border: none;
    padding: 10px;
  }
  .submit {
    width: 131px;
    text-transform: uppercase;
    font-family: $font-primary-sans-condensed;
    font-weight: 700;
    font-size: 15px;
    float: left;
    margin-left: 23%;
    background: #74a5dc;
    border: solid 1px #4f89ca;
    color: #fff;
  }
}

.page article {

  .flash {
    margin-top: 20px;
  }

  .contact-form {
    width: 50%;
    margin-top: 30px;

    @include media($mobile) {
      width: 100%;
    }
  }
}

.homepage-header-box,
.homepage-header-box:link {
  // position: absolute;
  // top: 30px;
  // right: 40px;
	position: relative;
	float: right;
	clear: right;
	margin-top: 30px;
	margin-right: 40px;
	width: 260px;
  background: rgb(241, 241, 241);
  color: #3C3C3C;
  padding: 10px 20px;
  border-top: solid 5px #4B8BD4;
  // min-width: 260px;
	text-decoration: none;
	display: block;

	&:hover {
		transition: background-color 0.3s;
		background-color: rgb(218, 218, 218);
		cursor: pointer;
	}

	// .link {
	// 	color: #255E9E;
	// 	text-decoration: underline;
	// }

	p {
		color: #255E9E;
	}

  h2 {
    margin: 10px 0;
    // font-size: 19px;
    font-weight: 700;
    font-family: $font-primary-sans;
    // text-transform: capitalize;

		text-transform: uppercase;
		font-size: 15px;

		text-decoration: none;
		color: #3C3C3C;

		&.hidden {
			visibility: hidden;
			position: absolute;
		}
  }
  h3 {
    font-size: 12px;
    text-transform: uppercase;
    font-family: $font-primary-sans;
    color: #888888;
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
  }
  ul {
    padding: 0;
    clear: both;
    margin: 0 0 10px 0;

    li {
      list-style-type: none;
      padding: 0;
      line-height: 25px;
    }
  }
  .read-more {
    font-size: 12px;
    float: right;
		margin: 5px;
  }

  @include media($mobile) {
    background: rgba(241,241,241,0.90);
    color: #3C3C3C;
    padding: 20px 20px 40px 20px;
    border-top: solid 5px #4B8BD4;
    position: relative;
    left: auto;
    right: auto;
    width: 90%;
    margin: 0 auto;
    top: 30px;
		float: none;
    margin-bottom: 20px;
  }
}

.flash {
  background: #EEF4FB;
  padding: 10px 20px;
  color: #6D6D6D;

  &.notice {
    background: #ECECEC;
  }
}

// alignment of images
.alignright {
	float: right;
}
.alignleft {
	float: left;
}
.aligncenter {
	text-align: center;
	margin: 0 auto;
	display: block;
}

.wp-caption {
	margin: 10px auto;
	font-size: 12px;
	color: #7d7d7d;

	p {
		margin: 0;
    margin-top: -5px;
	}
}
