html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Better looking embed fonts */
html {
  -webkit-font-smoothing: antialiased; }
  html .entry,
  html .entry p {
    -webkit-font-smoothing: initial; }

/* "CALL US" tab */
.call-us {
  background: transparent url("../img/nass-tab-temp-bg.png") 0% 0%;
  display: block;
  width: 188px;
  height: 27px;
  padding-top: 0;
  overflow: hidden;
  top: 0;
  right: 100px;
  position: absolute;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 14px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2px 0 0 31px;
  white-space: nowrap; }
  .call-us:link, .call-us:visited, .call-us:active, .call-us:hover {
    color: #b9d9ff;
    text-decoration: none; }
  .call-us:hover {
    color: #DBECFF;
    text-decoration: none; }
  @media screen and (max-width: 700px) {
    .call-us {
      position: relative;
      left: inherit;
      right: inherit;
      top: 0;
      margin-left: auto;
      margin-right: auto; } }

.featured-image {
  background-position: 0 35%; }

/* "home" page-specific styles */
body.home.page .featured-image {
  height: 400px;
  background-position-y: -70px;
  position: relative; }
  @media screen and (max-width: 700px) {
    body.home.page .featured-image {
      background-position-y: 0; } }

body.page-careers .featured-image {
  background-position: 0 80%; }
  @media screen and (max-width: 700px) {
    body.page-careers .featured-image {
      background-position-x: 50%;
      height: 240px; } }

body.page-about .featured-image {
  background-position: 0 0; }
  @media screen and (max-width: 700px) {
    body.page-about .featured-image {
      background-position: 0 0; } }

html {
  background: #303030 url("../img/nass-grey-image-bg.jpg") 50% 0% no-repeat;
  background-size: cover;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px; }

body {
  background: transparent; }
  body a:link, body a:visited, body a:active, body a:hover {
    color: #255E9E;
    text-decoration: underline; }
  body a:hover {
    color: #255E9E;
    text-decoration: none; }

h2 {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 36px; }

h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 20px; }

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  margin: 20px auto; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }

.header {
  display: block;
  background-color: #255e9e;
  color: #fff;
  border-top: solid #3a76b9 5px;
  padding-top: 40px;
  padding-bottom: 30px;
  position: relative; }
  .header::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 700px) {
    .header {
      padding-top: 0;
      padding-bottom: 10px; } }
  .header h1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-left: 8.5298%;
    margin-top: 0;
    margin-bottom: 0; }
    .header h1:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      .header h1 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        float: none;
        width: 234px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px; }
        .header h1:last-child {
          margin-right: 0; } }
    .header h1 a {
      background: transparent url("../img/nass-logo.png") 0% 0%;
      display: block;
      width: 234px;
      height: 0;
      padding-top: 63px;
      overflow: hidden; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .header h1 a {
          background-image: url("../img/nass-logo@2x.png");
          background-size: contain; } }
  .header nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 8.5298%;
    position: relative;
    top: 50px;
    text-align: right; }
    .header nav:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      .header nav {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        top: auto; }
        .header nav:last-child {
          margin-right: 0; } }
    .header nav .menu-button {
      display: none;
      position: relative; }
      @media screen and (max-width: 700px) {
        .header nav .menu-button {
          display: block;
          background: #3A76B9;
          border-radius: 3px;
          width: 70%;
          max-width: 300px;
          padding: 10px 20px;
          font-weight: bold;
          font-size: 1.2em;
          font-family: "Roboto Condensed", Arial, sans-serif;
          text-transform: uppercase;
          margin: 0 auto; }
          .header nav .menu-button:link, .header nav .menu-button:visited, .header nav .menu-button:active, .header nav .menu-button:hover {
            color: #fff;
            text-decoration: none; }
          .header nav .menu-button:hover {
            color: #fff;
            text-decoration: none; }
          .header nav .menu-button:hover {
            background: #4D87C7; } }
      .header nav .menu-button.open {
        background: #4D87C7; }
    .header nav .show ul {
      width: 70%;
      margin: 0 auto;
      display: block; }
    .header nav ul {
      margin: 0;
      padding: 0;
      display: block; }
      .header nav ul li {
        margin: 0;
        padding: 0;
        display: inline-block;
        list-style-type: none;
        position: relative; }
        .header nav ul li a {
          margin: 0;
          padding: 0;
          display: inline-block; }
        .header nav ul li > ul {
          display: none; }
      @media screen and (max-width: 700px) {
        .header nav ul {
          display: none; }
          .header nav ul.show {
            width: 70%;
            margin: 0 auto;
            display: block; } }
      .header nav ul li {
        margin-left: 0;
        padding: 5px; }
        @media screen and (max-width: 700px) {
          .header nav ul li {
            padding: 0;
            width: 100%;
            max-width: 300px;
            padding-top: 6px; }
            .header nav ul li a {
              width: 100%;
              display: block;
              background: #3A76B9;
              border-radius: 3px;
              padding: 10px 20px;
              font-weight: bold;
              font-size: 1.2em;
              font-family: "Roboto Condensed", Arial, sans-serif;
              text-transform: uppercase;
              margin: 0 auto; }
              .header nav ul li a:link, .header nav ul li a:visited, .header nav ul li a:active, .header nav ul li a:hover {
                color: #fff;
                text-decoration: none; }
              .header nav ul li a:hover {
                color: #fff;
                text-decoration: none; }
              .header nav ul li a:hover {
                background: #4D87C7; } }
        .header nav ul li.menu-item-has-children:after {
          content: "\2304";
          margin-left: 2px;
          line-height: 0;
          font-weight: bold;
          font-size: 1.5em; }
        .header nav ul li:hover > ul {
          text-align: left;
          display: block;
          position: absolute;
          top: 30px;
          left: -5px;
          padding: 0px 35px 15px 15px;
          background: #255E9E; }
          .header nav ul li:hover > ul li {
            margin-left: 0;
            padding: 8px 0 0 0;
            text-align: left; }
      .header nav ul a {
        font-weight: 400; }
        .header nav ul a:link, .header nav ul a:visited, .header nav ul a:active, .header nav ul a:hover {
          color: #fff;
          text-decoration: none; }
        .header nav ul a:hover {
          color: #fff;
          text-decoration: underline; }

.footer {
  display: block; }
  .footer::after {
    clear: both;
    content: "";
    display: table; }
  .footer .footer-items {
    display: block;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 30px; }
    .footer .footer-items::after {
      clear: both;
      content: "";
      display: table; }
    .footer .footer-items h3 {
      font-family: "Roboto Condensed", Arial, sans-serif;
      font-weight: 700;
      color: #4f89ca;
      font-size: 15px;
      text-transform: uppercase; }
    .footer .footer-items dl dt, .footer .footer-items dl dd {
      float: left; }
    .footer .footer-items dl dt {
      clear: both;
      font-weight: 700;
      text-transform: uppercase; }
    .footer .footer-items dl dd {
      margin-left: 5px; }
    .footer .footer-items dl:after {
      content: "";
      display: block;
      clear: both; }
    .footer .footer-items address {
      font-style: normal; }
      .footer .footer-items address b {
        font-weight: 700; }
    .footer .footer-items .blurb {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      margin-left: 8.5298%;
      border-top: 1px solid #4f89ca;
      padding-top: 20px; }
      .footer .footer-items .blurb:last-child {
        margin-right: 0; }
      .footer .footer-items .blurb a {
        background: transparent url("../img/nass-logo-smaller.png") 0% 0%;
        background-repeat: no-repeat;
        display: block;
        width: 165px;
        height: 0;
        padding-top: 53px;
        margin-top: 10px;
        overflow: hidden; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .footer .footer-items .blurb a {
            background-image: url("../img/nass-logo-smaller@2x.png");
            background-size: contain; } }
    .footer .footer-items .contact-location {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      border-top: 1px solid #4f89ca;
      padding-top: 20px; }
      .footer .footer-items .contact-location:last-child {
        margin-right: 0; }
    .footer .footer-items .contact-form-container {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      border-top: 1px solid #4f89ca;
      padding-top: 20px; }
      .footer .footer-items .contact-form-container:last-child {
        margin-right: 0; }
    @media screen and (max-width: 700px) {
      .footer .footer-items .blurb,
      .footer .footer-items .contact-location,
      .footer .footer-items .contact-form-container {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%;
        margin-left: 8.5298%;
        padding-top: 5px;
        margin-top: 20px; }
        .footer .footer-items .blurb:last-child,
        .footer .footer-items .contact-location:last-child,
        .footer .footer-items .contact-form-container:last-child {
          margin-right: 0; } }
  .footer .footer-stripe {
    display: block;
    background: #4f89ca;
    color: #fff;
    margin-bottom: 20px;
    padding-top: 18px;
    min-height: 70px; }
    .footer .footer-stripe::after {
      clear: both;
      content: "";
      display: table; }
    .footer .footer-stripe .copyright {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%;
      margin-left: 8.5298%;
      font-family: "Roboto Condensed", Arial, sans-serif; }
      .footer .footer-stripe .copyright:last-child {
        margin-right: 0; }
    .footer .footer-stripe nav {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%;
      text-align: right; }
      .footer .footer-stripe nav:last-child {
        margin-right: 0; }
      .footer .footer-stripe nav ul {
        margin: 0;
        padding: 0; }
        .footer .footer-stripe nav ul li {
          margin: 0;
          padding: 0;
          display: inline-block;
          list-style-type: none;
          position: relative; }
          .footer .footer-stripe nav ul li a {
            margin: 0;
            padding: 0;
            display: inline-block; }
          .footer .footer-stripe nav ul li > ul {
            display: none; }
        .footer .footer-stripe nav ul li {
          margin-left: 8px; }
          @media screen and (max-width: 700px) {
            .footer .footer-stripe nav ul li {
              margin-left: 0;
              width: 100%;
              text-align: center;
              padding: 10px 0; } }
        .footer .footer-stripe nav ul a {
          font-family: "Roboto Condensed", Arial, sans-serif;
          text-transform: uppercase; }
          .footer .footer-stripe nav ul a:link, .footer .footer-stripe nav ul a:visited, .footer .footer-stripe nav ul a:active, .footer .footer-stripe nav ul a:hover {
            color: #fff;
            text-decoration: none; }
          .footer .footer-stripe nav ul a:hover {
            color: #fff;
            text-decoration: underline; }
    @media screen and (max-width: 700px) {
      .footer .footer-stripe .copyright {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-left: 0%;
        text-align: center; }
        .footer .footer-stripe .copyright:last-child {
          margin-right: 0; }
      .footer .footer-stripe nav {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-left: 0%;
        text-align: center; }
        .footer .footer-stripe nav:last-child {
          margin-right: 0; } }

aside.heading-carousel {
  display: block;
  background: #4f89ca;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px; }
  aside.heading-carousel::after {
    clear: both;
    content: "";
    display: table; }
  aside.heading-carousel h2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1; }
    aside.heading-carousel h2:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      aside.heading-carousel h2 {
        font-size: 30px; } }
  aside.heading-carousel p {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px; }
    aside.heading-carousel p:last-child {
      margin-right: 0; }

.article-wrapper {
  display: block;
  margin-bottom: 40px; }
  .article-wrapper::after {
    clear: both;
    content: "";
    display: table; }

.page article,
.single-careers article,
.single-pressreleases article,
.error404 article {
  min-height: 300px; }
  .page article a.cta-btn,
  .page article a.cta-btn:link,
  .single-careers article a.cta-btn,
  .single-careers article a.cta-btn:link,
  .single-pressreleases article a.cta-btn,
  .single-pressreleases article a.cta-btn:link,
  .error404 article a.cta-btn,
  .error404 article a.cta-btn:link {
    text-transform: uppercase;
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    background: #74a5dc;
    border: 0;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px; }
  .page article a.cta-btn:hover,
  .single-careers article a.cta-btn:hover,
  .single-pressreleases article a.cta-btn:hover,
  .error404 article a.cta-btn:hover {
    background: #5e8dc1; }
  .page article .heading-wrapper,
  .single-careers article .heading-wrapper,
  .single-pressreleases article .heading-wrapper,
  .error404 article .heading-wrapper {
    background: #4f89ca url("../img/nass-heading-blue-bg.png") no-repeat;
    color: #fff;
    padding: 10px 0;
    margin-top: 0;
    height: 70px; }
  .page article h2,
  .single-careers article h2,
  .single-pressreleases article h2,
  .error404 article h2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
    margin-left: 8.5298%;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 25px; }
    .page article h2:last-child,
    .single-careers article h2:last-child,
    .single-pressreleases article h2:last-child,
    .error404 article h2:last-child {
      margin-right: 0; }
  .page article .posted-date,
  .single-careers article .posted-date,
  .single-pressreleases article .posted-date,
  .error404 article .posted-date {
    margin-top: 17px;
    display: block; }
  .page article .entry,
  .single-careers article .entry,
  .single-pressreleases article .entry,
  .error404 article .entry {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    .page article .entry:last-child,
    .single-careers article .entry:last-child,
    .single-pressreleases article .entry:last-child,
    .error404 article .entry:last-child {
      margin-right: 0; }
    .page article .entry img,
    .single-careers article .entry img,
    .single-pressreleases article .entry img,
    .error404 article .entry img {
      max-width: 100%; }
  @media screen and (max-width: 700px) {
    .page article,
    .single-careers article,
    .single-pressreleases article,
    .error404 article {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      .page article:last-child,
      .single-careers article:last-child,
      .single-pressreleases article:last-child,
      .error404 article:last-child {
        margin-right: 0; }
      .page article h2,
      .single-careers article h2,
      .single-pressreleases article h2,
      .error404 article h2 {
        width: 90%;
        padding-left: 1%;
        padding-right: 10%;
        border-bottom: 0;
        padding-bottom: 0; }
      .page article .entry,
      .single-careers article .entry,
      .single-pressreleases article .entry,
      .error404 article .entry {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%;
        margin-left: 8.5298%;
        width: 90%;
        padding-left: 1%;
        padding-right: 10%; }
        .page article .entry:last-child,
        .single-careers article .entry:last-child,
        .single-pressreleases article .entry:last-child,
        .error404 article .entry:last-child {
          margin-right: 0; } }

.single-careers article .entry,
.page.page-template-page-wjobs article .entry {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 17.05961%; }
  .single-careers article .entry:last-child,
  .page.page-template-page-wjobs article .entry:last-child {
    margin-right: 0; }

.single-careers article .sidebar,
.page.page-template-page-wjobs article .sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  background: #eee;
  padding: 20px;
  margin-top: 17px; }
  .single-careers article .sidebar:last-child,
  .page.page-template-page-wjobs article .sidebar:last-child {
    margin-right: 0; }
  .single-careers article .sidebar h1,
  .page.page-template-page-wjobs article .sidebar h1 {
    margin-top: 0;
    color: #333;
    font-size: 13px;
    font-weight: bold;
    color: #585858; }
  .single-careers article .sidebar h2, .single-careers article .sidebar .caps,
  .page.page-template-page-wjobs article .sidebar h2,
  .page.page-template-page-wjobs article .sidebar .caps {
    font-size: 12px;
    text-transform: uppercase;
    color: #888888;
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold; }
  .single-careers article .sidebar ul,
  .page.page-template-page-wjobs article .sidebar ul {
    padding: 0;
    clear: both; }
    .single-careers article .sidebar ul li,
    .page.page-template-page-wjobs article .sidebar ul li {
      list-style-type: none;
      padding: 0;
      line-height: 25px; }
  .single-careers article .sidebar .show-all,
  .page.page-template-page-wjobs article .sidebar .show-all {
    font-size: 12px;
    float: right; }
  .single-careers article .sidebar p,
  .page.page-template-page-wjobs article .sidebar p {
    font-size: 12px; }
  .single-careers article .sidebar.nobg,
  .page.page-template-page-wjobs article .sidebar.nobg {
    background: transparent;
    padding-top: 0;
    color: #000; }

@media screen and (max-width: 700px) {
  .single-careers article,
  .page.page-template-page-wjobs article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-left: 0%; }
    .single-careers article:last-child,
    .page.page-template-page-wjobs article:last-child {
      margin-right: 0; }
    .single-careers article h2,
    .page.page-template-page-wjobs article h2 {
      width: 90%;
      padding-left: 1%;
      padding-right: 10%;
      border-bottom: 0;
      padding-bottom: 0; }
    .single-careers article .entry,
    .page.page-template-page-wjobs article .entry {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%;
      width: 90%;
      padding-left: 1%;
      padding-right: 10%; }
      .single-careers article .entry:last-child,
      .page.page-template-page-wjobs article .entry:last-child {
        margin-right: 0; }
    .single-careers article .sidebar,
    .page.page-template-page-wjobs article .sidebar {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%;
      background: #eee;
      padding: 5%;
      margin-bottom: 20px;
      margin-top: inherit; }
      .single-careers article .sidebar:last-child,
      .page.page-template-page-wjobs article .sidebar:last-child {
        margin-right: 0; } }

.home article h2 {
  border-bottom: 1px solid #255e9e;
  width: 80%;
  background: transparent;
  color: #000; }

.featured-image {
  max-width: 100%;
  height: 240px;
  background-size: cover;
  box-shadow: inset 0 20px 20px -18px rgba(0, 0, 0, 0.75), inset 0 -21px 18px -20px rgba(0, 0, 0, 0.25); }

.home .featured-image {
  height: 400px;
  box-shadow: inset 0 20px 20px -18px rgba(0, 0, 0, 0.75), inset 0 -24px 29px -20px rgba(0, 0, 0, 0.75); }

.services {
  text-align: center;
  display: table;
  border-spacing: 1em;
  margin: 0 auto;
  width: 85%; }
  @media screen and (max-width: 700px) {
    .services {
      width: 90%; } }
  .services ul {
    padding: 0;
    border-top: solid 1px #ccc;
    padding-top: 10px;
    width: 90%;
    margin: 13px auto; }
  .services li {
    list-style-type: none;
    text-align: center;
    font-family: "Roboto", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 2; }
  .services h3 {
    font-family: "Roboto Condensed", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background: #4f4f4f url("../img/nass-services-bg1.jpg") no-repeat 50% 50%;
    background-size: 110% 110%;
    color: white;
    text-align: left;
    padding: 150px 0 10px 15px;
    vertical-align: bottom;
    font-size: 30px;
    transition: background-size .4s; }
    .services h3.second {
      background-image: url("../img/nass-services-bg2.jpg"); }
    .services h3.third {
      background-image: url("../img/nass-services-bg3.jpg"); }
  .services .service {
    width: 30%;
    background: #f1f1f1;
    display: table-cell;
    vertical-align: top;
    position: relative; }
    @media screen and (max-width: 700px) {
      .services .service {
        width: 100%;
        display: block;
        background: transparent; }
        .services .service ul {
          width: 100%;
          padding-top: 0;
          margin-top: 10px;
          margin-bottom: 15px;
          border: 0;
          display: none; }
          .services .service ul.show {
            display: block; }
        .services .service h3 {
          padding-top: 10px;
          background-size: cover;
          margin-top: 10px;
          cursor: pointer; }
          .services .service h3 .dropdown-button {
            position: absolute;
            border: solid #fff 1px;
            color: #fff;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            top: 12px;
            right: 10px;
            background: url("../img/chevron-right@2x.png") no-repeat 50% 50%;
            background-size: contain; }
          .services .service h3:hover .dropdown-button {
            background-color: rgba(225, 225, 225, 0.25); }
        .services .service h3.open .dropdown-button {
          border-color: #6D97C7;
          background-image: url("../img/chevron-down@2x.png"); }
        .services .service h3.open:hover .dropdown-button {
          background-color: rgba(109, 151, 199, 0.25); } }
  .services .service:hover h3 {
    background-size: 115% 115%; }
  @media screen and (max-width: 700px) {
    .services .service:hover h3 {
      background-size: cover; } }

.contact-form {
  width: 100%; }
  .contact-form label {
    color: #8d8d8d;
    display: block;
    font-weight: 500;
    width: 20%;
    float: left;
    margin: 0;
    margin-bottom: 16px;
    padding-left: 10px;
    padding-bottom: 18px; }
  .contact-form input,
  .contact-form textarea {
    display: block;
    float: right;
    width: 77%;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 14px;
    background: #F1F1F1;
    border: none;
    padding: 10px; }
  .contact-form .submit {
    width: 131px;
    text-transform: uppercase;
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-weight: 700;
    font-size: 15px;
    float: left;
    margin-left: 23%;
    background: #74a5dc;
    border: solid 1px #4f89ca;
    color: #fff; }

.page article .flash {
  margin-top: 20px; }

.page article .contact-form {
  width: 50%;
  margin-top: 30px; }
  @media screen and (max-width: 700px) {
    .page article .contact-form {
      width: 100%; } }

.homepage-header-box,
.homepage-header-box:link {
  position: relative;
  float: right;
  clear: right;
  margin-top: 30px;
  margin-right: 40px;
  width: 260px;
  background: #f1f1f1;
  color: #3C3C3C;
  padding: 10px 20px;
  border-top: solid 5px #4B8BD4;
  text-decoration: none;
  display: block; }
  .homepage-header-box:hover,
  .homepage-header-box:link:hover {
    transition: background-color 0.3s;
    background-color: #dadada;
    cursor: pointer; }
  .homepage-header-box p,
  .homepage-header-box:link p {
    color: #255E9E; }
  .homepage-header-box h2,
  .homepage-header-box:link h2 {
    margin: 10px 0;
    font-weight: 700;
    font-family: "Roboto", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    color: #3C3C3C; }
    .homepage-header-box h2.hidden,
    .homepage-header-box:link h2.hidden {
      visibility: hidden;
      position: absolute; }
  .homepage-header-box h3,
  .homepage-header-box:link h3 {
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Roboto", Arial, sans-serif;
    color: #888888;
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold; }
  .homepage-header-box ul,
  .homepage-header-box:link ul {
    padding: 0;
    clear: both;
    margin: 0 0 10px 0; }
    .homepage-header-box ul li,
    .homepage-header-box:link ul li {
      list-style-type: none;
      padding: 0;
      line-height: 25px; }
  .homepage-header-box .read-more,
  .homepage-header-box:link .read-more {
    font-size: 12px;
    float: right;
    margin: 5px; }
  @media screen and (max-width: 700px) {
    .homepage-header-box,
    .homepage-header-box:link {
      background: rgba(241, 241, 241, 0.9);
      color: #3C3C3C;
      padding: 20px 20px 40px 20px;
      border-top: solid 5px #4B8BD4;
      position: relative;
      left: auto;
      right: auto;
      width: 90%;
      margin: 0 auto;
      top: 30px;
      float: none;
      margin-bottom: 20px; } }

.flash {
  background: #EEF4FB;
  padding: 10px 20px;
  color: #6D6D6D; }
  .flash.notice {
    background: #ECECEC; }

.alignright {
  float: right; }

.alignleft {
  float: left; }

.aligncenter {
  text-align: center;
  margin: 0 auto;
  display: block; }

.wp-caption {
  margin: 10px auto;
  font-size: 12px;
  color: #7d7d7d; }
  .wp-caption p {
    margin: 0;
    margin-top: -5px; }
